* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
  background-image: url(https://static.playoverwatch.com/img/crystal-candy-bg-top-e64823cff8.jpg);
}

.container {
  width: 90%;
  margin: auto;
}

header {
  background-color: rgba(255, 255, 255, 0.1);
}

div .titlebar {
  height: 20vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div .titlebar h1 {
  letter-spacing: 5px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto Slab', serif;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

div .titlebar img {
  display: inline;
  max-width: 90%;
  max-height: 90%;
  filter: brightness(1.2);
}

div .titlebar img:first-child{
  margin-left: 50px;
}

div .slider {
  height: 70vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

div .slider .slidercontent {
  height: 70vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

div .prev {
  margin-right: 50px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .prev i {
  font-size: 30px;
  transition: font-size 0.5s;
  opacity: 0.5;
}

.select span {
  border: 1px solid #ff9631;
  background-color: #ff9c00;
  color: white;
  font-size: 25px;
  padding: 5px 35px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}

img {
  display: none;
}

div .slide img {
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url(https://static.playoverwatch.com/img/crystal-candy-bg-top-e64823cff8.jpg);
}

div .next {
  margin-left: 50px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .next i {
  font-size: 30px;
  transition: font-size 0.5s;
  opacity: 0.5;
}

div .next , div .prev {
  cursor: pointer;
  color: white;
}

.active {
  display: block;
}

.slider div i:hover {
  font-size: 60px;
  opacity: 1;
}



main {
  position: relative;
}

footer {
  height: 10vh;
  width: auto;
  background-image: url(https://static.playoverwatch.com/img/pages/buy/buy-bar-bg-3c956a1db2.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

img::selection {
  color: none;
  background: none;
}

.slider .rotation_possibilities{
  height: 70vh;
  width: 40%;
  display: flex;
}

.slider .rotation_possibilities img {
  display: inline;
  height: 80px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  background-image: url(https://static.playoverwatch.com/img/crystal-candy-bg-top-e64823cff8.jpg);

}

.imgcontainerleft , .imgcontainerright {
  margin: auto;
  text-align: center;
}

.rotation_possibilities img:hover {
  transform: scale(1.5);
  box-shadow:1px 1px 2px black, 0 0 40px #FCFCFC, 0 0 5px darkblue;
}
